{% extends 'libros/base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>📚 Mis Libros Guardados</h2>
    <a href="{% url 'buscador' %}" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Nuevo Libro</a>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for libro in libros %}
    <div class="col">
        <div class="card h-100">
            {% if libro.imagen_url %}
                <img src="{{ libro.imagen_url }}" class="card-img-top" style="height: 250px; object-fit: cover;" alt="...">
            {% else %}
                <div class="bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 250px;">SIN FOTO</div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title text-truncate">{{ libro.titulo }}</h5>
                <p class="card-text text-muted small">{{ libro.autor.nombre }}</p>
                <div class="badge bg-success">ISBN: {{ libro.isbn }}</div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12 text-center py-5">
        <p class="text-muted">No hay libros en tu Django aún.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}